@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100%;
}

main {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin-left: 250px;
  margin-right: 250px;
}

form {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input {
  color: #ffffff;
  background-color: #35363E;
  border: none;
  border-radius: 4px;
  font-size: 3.2em;
  outline: none;
  padding-inline-end: 40px;
  padding-inline-start: 52px;
  position: relative;
  width: 100%;
  height: 100px;
  font-family: 'Roboto', sans-serif;
}

input::placeholder {
  color: #ADB0B7;
}

input:focus {
  outline: none;
  border-color: transparent;
}

.proxy-title {
  font-size: 4.5em;
  margin-bottom: 0;
  font-weight: bold;
}
